<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>

    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    
    <!--<identity impersonate="true"/>-->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="10240" executionTimeout="3600" />
    <authentication mode="Forms">
      <forms name="auth_cookie" loginUrl="Pages/Login.aspx" protection="Encryption" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <globalization culture="es-MX" uiCulture="es-MX" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    <!--<add name="CadenaConexion" connectionString="Data Source=CLUSTERSQL\SIIGMX;Initial Catalog=PRODUCCION;User ID=sise;Password=sistran" />-->
    <!--<add name="CadenaConexion" connectionString="Data Source=SIIGMXAPP02\SIIGMX02;Initial Catalog=PRD_091215;User ID=desarrollo10;Password=.dev2016"/>-->
    <add name="CadenaUAT" connectionString="Data Source=SIIGMXAPP02\SIIGMX02;Initial Catalog=UAT;User ID=sise;Password=sistran"/>
    <add name="CadenaConexion" connectionString="Data Source=SIIGMXAPP02\SIIGMX02;Initial Catalog=DESA;User ID=sise;Password=sistran"/>
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrdenPago" maxBufferSize="600000000"
          maxReceivedMessageSize="600000000" />
        <binding name="BasicHttpBinding_IGenerales" />
        <binding name="BasicHttpBinding_IFirmasDigital" />
        <binding name="BasicHttpBinding_IGenerales1" />
        <binding name="BasicHttpBinding_IMesaControl" />
        <binding name="BasicHttpBinding_IOrdenPago1" />
        <binding name="BasicHttpBinding_IRecSiniestros" />
        <binding name="BasicHttpBinding_IReporteador" />
        <binding name="BasicHttpBinding_IBordereaux" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://internoservicios.gmx.com.mx:88/WS_GMXStros/Generales/Generales.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGenerales"
        contract="ws_CorreoExterno.IGenerales" name="BasicHttpBinding_IGenerales" />
      <endpoint address="http://internoservicios.gmx.com.mx:88/WS_GMXStros/Reaseguro/FirmasDigital/FirmasDigital.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFirmasDigital"
        contract="ws_FirmaDigital.IFirmasDigital" name="BasicHttpBinding_IFirmasDigital" />
      <endpoint address="http://internoservicios.gmx.com.mx:88/WS_GMXStros/Generales/Generales.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGenerales1"
        contract="ws_Generales.IGenerales" name="BasicHttpBinding_IGenerales1" />
      <endpoint address="http://internoservicios.gmx.com.mx:88/WS_GMXStros/Reaseguro/MesaControl/MesaControl.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMesaControl"
        contract="ws_MesaControl.IMesaControl" name="BasicHttpBinding_IMesaControl" />
      <endpoint address="http://internoservicios.gmx.com.mx:88/WS_GMXStros/Reaseguro/OrdenPago/OrdenPago.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrdenPago1"
        contract="ws_OrdenPago.IOrdenPago" name="BasicHttpBinding_IOrdenPago" />
      <endpoint address="http://gmxwebservice01/WS_GMX/Reaseguro/Recordatorios/Siniestros/RecSiniestros.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecSiniestros"
        contract="ws_RecSiniestros.IRecSiniestros" name="BasicHttpBinding_IRecSiniestros" />
      <endpoint address="http://internoservicios.gmx.com.mx:88/WS_GMXStros/Reaseguro/Reporteador/Reporteador.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReporteador"
        contract="ws_Reporteador.IReporteador" name="BasicHttpBinding_IReporteador" />
      <endpoint address="http://internoservicios.gmx.com.mx:88/WS_GMXStros/Reaseguro/Reportes/Bordereaux.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBordereaux"
        contract="ws_Reportes.IBordereaux" name="BasicHttpBinding_IBordereaux" />
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <appSettings>
    <add key="ReportExecutionService.reportexecution2005" value="http://clustersql/ReportServer_SIIGMX/ReportExecution2005.asmx" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.50.5147.0" newVersion="1.50.5147.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>

</configuration>